
/* Sprites */
@import "icons/*.png";

$icons-layout:smart;

@include all-icons-sprites(true);

@import "global/variables";
@import "global/mixins";

@import "pages/homepage";
@import "common/header"; 
@import "common/footer";
 
body{
	font-family: arial, sans-serif; 
	-moz-transition: left 100ms ease-in-out, right 100ms ease-in-out;
	-webkit-transition: left 100ms ease-in-out, right 100ms ease-in-out;
	transition: left 100ms ease-in-out, right 100ms ease-in-out;
}

.clear{
	clear:both;
}

a{
	text-decoration:none;
	color:$black;
}

.left{
	float:left;
}
.right{
	float:right;
}

.absolute{
	position:absolute;
}

.button{
	padding:12px 24px;
	text-transform:uppercase;
	display:inline-block;
	@include transition();
	
	&.primary{
		background: $primarybackground;
		
		&:hover{
			background: $primarybtnovercolor;
			color: $white;
		}
	}
}
