#header{ 

	padding:10px; 

	.header-left{
		float:left;
	}
	
	.header-right{ 
		float:right;
		 margin-right: 5%;
		a{
			display:inline-block;
			font-size:24px;
			color:#666;
			padding:10px; 
			
			&:before, &:after{
				box-sizing: border-box;
			}
			
			&:hover{ 
			
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
				-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
				
			
			}
		
			
		}
		#header-search{
		    position:absolute;
		    z-index:2;
		    background-color: #fff;
			#searchBar{
				 width: 100%;
				 #searchBox{
				 	 border: 1px solid #bfbfbf;
				 	 #searchTermWrapper{
				 	   input{
				 	  		background-color: transparent;
						    border: 0 none;
						    font-size: inherit;
						    height: 18px;
						    margin: 0;
						    padding: 0;
						    position: relative;
						    width: 96%;
						    border:1px solid #4d4d4d;
				 	   }
				 	 }
				 }
			}
		}
		
		#minishopcart,#signin-section{
			position:absolute;
		    z-index:2;
		    border:1px solid #bfbfbf;
		    background-color:white;
		}
		
	}

}