<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%-- 
<script>
require(["dojo/domReady!"], function() {
	SearchJS.init();
	SearchJS.setCachedSuggestionsURL("${CachedSuggestionsURL}");
	SearchJS.setAutoSuggestURL("${SearchAutoSuggestServletURL}");
	document.forms["searchBox"].action = getAbsoluteURL() + "${searchView}";
});
var staticContent = [];
var staticContentHeaders = [];
</script>	
--%>
<fmt:message bundle="${storeText}" key="SEARCH_CATALOG" var="SEARCH_CATALOG"/>
<a id="searchButton" href="#" role="button" <c:choose><c:when test="${_worklightHybridApp}">onclick="javascript:NativeSearchJS.startSearchActivity();"</c:when><c:otherwise>data-toggle="searchBar"</c:otherwise></c:choose> aria-label="${SEARCH_CATALOG}" title="${SEARCH_CATALOG}" ><span id="searchButton_ACCE_Label" class="spanacce"><fmt:message bundle="${storeText}" key="SEARCH_CATALOG"/></span></a>

<div id="searchBar" data-parent="header" role="search">
	<c:if test="${_worklightHybridApp eq 'true'}">
	<a id="worklightSearchButton" href="#" role="button" onclick="javascript:NativeSearchJS.startSearchActivity();"><span id="worklightSearchButtonLabel">${SEARCH_CATALOG}</span></a>
	</c:if>
	<form id="searchBox" name="CatalogSearchForm" method="get" action="${searchView}">
		<input id="categoryId" name="categoryId" type="hidden"/>
		<input name="storeId" value="${storeId}" type="hidden"/>
		<input name="catalogId" value="${catalogId}" type="hidden"/>
		<input name="langId" value="${langId}" type="hidden"/>
		<input name="sType" value="SimpleSearch" type="hidden"/>
		<input name="resultCatEntryType" value="2" type="hidden"/>
		<input name="showResultsPage" value="true" type="hidden"/>
		<input name="searchSource" value="Q" type="hidden"/>
		<input name="pageView" value="${env.defaultPageView}" type="hidden"/>
		<input name="beginIndex" value="0" type="hidden"/>
		<input name="pageSize" value="${empty pageSize ? 12 : pageSize}" type="hidden"/>

		<div id="searchTermWrapper"><label id="searchFormLabel" for="SimpleSearchForm_SearchTerm">${SEARCH_CATALOG}</label><input id="SimpleSearchForm_SearchTerm" type="text" name="searchTerm" placeholder="${SEARCH_CATALOG}" autocomplete="off"/></div>
		<!-- Start SearchDropdownWidget -->
		<div id="searchDropdown">
			<div id="autoSuggest_Result_div">
				<div id="widget_search_dropdown">
					<!-- Main Content Area -->
					<div id="AutoSuggestDiv" role="list" aria-required="true" onmouseover="SearchJS.autoSuggestHover = true;" onmouseout="SearchJS.autoSuggestHover = false; document.getElementById('SimpleSearchForm_SearchTerm').focus();">
						<ul><li><span id="autoSuggestDynamic_Result_div_ACCE_Label" class="spanacce"><fmt:message bundle="${storeText}" key="SEARCH_AUTO_SUGGEST_ACCE_REGION" /></span>
						<div dojoType="wc.widget.RefreshArea" widgetId="autoSuggestDisplay_Widget" controllerId="AutoSuggestDisplayController" id="autoSuggestDynamic_Result_div" role="list" aria-live="polite" aria-atomic="true" aria-relevant="all" aria-labelledby="autoSuggestDynamic_Result_div_ACCE_Label">
						<%-- Div to show the suggested keywords --%>
						</div></li></ul>
						<ul><li><div id="autoSuggestStatic_1" role="listitem"></div></li></ul>
						<ul><li><div id="autoSuggestStatic_2" role="listitem"></div></li></ul>
						<ul><li><div id="autoSuggestStatic_3" role="listitem"></div></li></ul>
						<ul><li><div id="autoSuggestHistory" role="listitem"></div></li></ul>
						<ul><li id="autoSuggestAdvancedSearch" class="heading"> <a href="${AdvancedSearchDisplayURL}" onclick="SearchJS.gotoAdvancedSearch('${AdvancedSearchDisplayURL}');return false;" id="advancedSearch" ><div role="listitem"><fmt:message bundle="${storeText}" key="TITLE_ADVANCED_SEARCH"/></div></a></li></ul>
					</div>
					<!-- End content Section -->
				</div>
			</div>
		</div>
		<!-- End SearchDropdownWidget -->
		<!-- Refresh area to retrieve cached suggestions -->
		<span id="autoSuggestCachedSuggestions_div_ACCE_Label" class="spanacce"><fmt:message bundle="${storeText}" key="SEARCH_AUTO_SUGGEST_CACHED_ACCE_REGION" /></span>
		<div dojoType="wc.widget.RefreshArea" widgetId="AutoSuggestCachedSuggestions" controllerId="AutoSuggestCachedSuggestionsController" id="autoSuggestCachedSuggestions_div" role="region" aria-live="polite" aria-atomic="true" aria-relevant="all" aria-labelledby="autoSuggestCachedSuggestions_div_ACCE_Label"></div>
		<a id="searchFilterButton" class="toggle" href="#" role="button" aria-haspopup="true" data-toggle="searchFilterMenu"><fmt:message bundle="${storeText}" key="SEARCH_ALL_DEPARTMENTS"/></a>
		<div id="searchFilterMenu" class="basicMenu searchFilterButton_expand" data-parent="searchBar" style="display:none;">
			<ul>
				<li><a href="#" data-value="" class="menuLink" tabindex="-1"><fmt:message bundle="${storeText}" key="SEARCH_ALL_DEPARTMENTS"/></a></li>
				<c:forEach var="department" items="${newcatalog.catalogGroupView}">
					<li><a href="#" data-value="${department.uniqueID}" class="menuLink" tabindex="-1"><c:out value="${department.name}"/></a></li>
				</c:forEach>
			</ul>
		</div>
		<a href="#" class="submitButton" role="button" aria-label="${SEARCH_CATALOG}" title="${SEARCH_CATALOG}"><span id="submitButton_ACCE_Label" class="spanacce">${SEARCH_CATALOG}</span></a>
	</form>
</div>
