#homepage{ 

	.section-1{
	
		position:relative;
	
		.menu{
			


			.slideout-menu {
					position: fixed;
					top: 0;
					left: -250px;
					width: 250px;
					height: 100%;
					background: #333;
					z-index: 100;
					
					h3 {
						position: relative;
						padding: 12px 10px;
						color: #fff;
						font-size: 1.2em;
						font-weight: 400;
						border-bottom: 4px solid #222;
					}
					
					.slideout-menu-toggle {
						position: absolute;
						
						right: -18px;
						display: inline-block;
						padding: 6px 9px 5px;
						font-weight: bold;
						line-height: 1;
						background: #222;
						color: #999;
						text-decoration: none;
						vertical-align: top;
						
						&:hover {
							color: #fff;
							
						}
					
					}
					
					ul {
						list-style: none;
						font-weight: 300;
						border-top: 1px solid #151515;
						border-bottom: 1px solid #454545;
						
						li {
							border-top: 1px solid #454545;
							border-bottom: 1px solid #151515;
							
							a {
								position: relative;
								display: block;
								padding: 10px;
								color: $lightgray;
								text-decoration: none;
								
								&:hover {
									background: #black;
									color: $white;
								}
								
								i {
									position: absolute;
									top: 15px;
									right: 10px;
									opacity: .5;
								}
							}
						}
					}
				
				}

			
			
			.slideout-menu{
			
				&.open{
					.menu_button{
						&:before {
							
							content: "<"
							
						}
					}
				}
				.menu_button {
						background-color: $primarybtnovercolor;
						color: $white;
						cursor: pointer;
						font-size: 30px;
						height: 40px;
						line-height: 40px;
						margin-right: -40px;
						margin-top: -20px;
						position: absolute;
						
						text-align: center;
						top: 105px;
						width: 40px;
						z-index: 999;
						
						&:hover{
							background:$primarybackground;
						}
					
						&:before {
						content: ">";
						font-family: "material-design";
						
							&:active{
								content: "<";
							font-family: "material-design";
							}
						}
					
					}
				}
				
				
		
		
		
		}
		
		
		
		
		
		
	}
		
	
	
	.home-carousel{
		.owl-controls{
			
			.owl-next, .owl-prev{
				top:50%;
				position:absolute;
				padding: 25px 17px;
				border-radius:50%;
				background: $white;
				
				-webkit-transition: all 0.3s ease 0s; /* Safari */
				transition: all 0.3s ease 0s;
				
				&:hover{
					background: #393e41;
					color:$white;
				}
			}
			
			.owl-next{
				right:2%;
			}
			
			.owl-prev{
				left:2%;
			}
		}
		
		
		.item{
		
			position:relative;
			
			.desc{
			
				position:absolute;
				padding-top:20%;
				text-align:center;
				width:100%;
				top:0;
				height:100%;
				transition: all 0.3s ease 0s;
				
				&:hover{
					-webkit-transition: all 0.3s ease 0s; /* Safari */
					cursor:pointer;
					background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
					
				}
				
				.offer-t1{
					color:$black;
					margin:20px 0;
					font-size:40px;
				}
				
				.offer-t2{
					color:$white;
					bottom:0px;
					font-size:460%;
					margin-top:32%;
				}
				
				.offer-t3{
					@extend .offer-t1;
					color:$white;
				}
				
				.offer-t4{
					@extend .offer-t2;
					position:relative;
					top:-192px;
				}
				
				h1{
					font:{
						size:60px;
					}
					text-transform:uppercase;
					color:$white;
					margin-top:30%;
				}
				
			}
		}
		
		
	}

}
.Example{
			width:30%;
			margin:0px auto;
}